<h2>Monday</h2>
{{ok-lift/volume lift=squat}}
{{ok-lift/intensity lift=bench}}
{{ok-lift/recovery lift=deadlift}}
Pullup
<h2>Wednesday</h2>
{{ok-lift/recovery lift=squat}}
{{ok-lift/volume lift=bench}}
{{ok-lift/intensity lift=deadlift}}
Row
<h2>Friday</h2>
{{ok-lift/intensity lift=squat}}
{{ok-lift/recovery lift=bench}}
{{ok-lift/volume lift=deadlift}}
Press
<h2>Saturday</h2>
